<div id='main_menu_page'>

    <canvas id="canvas" width="1280" height="720"></canvas>

    <ul id='menu_list'>
        <li class='focus_item'>
            <a href="main/LiveTVPage" class="tv"><span class="tv">TV</span></a>
        </li>
        <li>
            <a href="main/LiveTVPage" class="vod"><span class="vod">Vod</span></a>
        </li>
        <li>
            <a href="main/LiveTVPage" class='internet'><span class='internet'>Internet</span></a>
        </li>
        <li>
            <a href="main/LiveTVPage" class='media'><span class='media'>Media</span></a>
        </li>
        <li>
            <a href="main/LiveTVPage" class='app'><span class='app'>My App</span></a>
        </li>
        <li>
            <a href="main/LiveTVPage" class='market'><span class='market'>TV Market</span></a>
        </li>
    </ul>
    <div id='shadow_effect'>
        <div class='left'></div>
        <div class='middle'></div>
        <div class='right'></div>
    </div>
</div>